<h1>Holdings</h1>
<span class="pagenav">
  <%= link_to 'New Holding', new_holding_path %>
</span>

<table>
  <thead>
    <tr>
      <th>Holding</th>
      <th>Portfolio</th>
      <th>Symbol</th>
      <th>Number of shares</th>
      <th>Purchase Date</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.id %></td>
        <td><%= link_to holding.portfolio, holding.portfolio %></td>
        <td><%= link_to holding.stock.symbol, holding.stock %></td>
        <td><%= holding.num_shares %></td>
        <td><%= holding.purchase_date %></td>
        <td>$<%= holding.price %></td>
        <td class="actions">
          <%= link_to 'Show', holding %>
          <%= link_to 'Edit', edit_holding_path(holding) %>
          <%= link_to 'Destroy', holding, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
