<h1><%= @portfolio.to_s.titleize %></h1>

<span class="pagenav">
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
</span>

<p>
  <table>
    <tr>
      <td>Owner</td>
      <td><%= link_to "#{@portfolio.owner.name}", @portfolio.owner %></td>
    </tr>
    <tr>
      <td>Manager</td>
      <td><%= link_to "#{@portfolio.manager.name}", @portfolio.manager %></td>
    </tr>
    <tr>
      <td>Purpose</td>
      <td><%= @portfolio.purpose.titleize %></td>
    </tr>
    <tr>
      <td>Creation Date</td>
      <td><%= @portfolio.creation_date %></td>
    </tr>
    <tr>
      <td>Principal</td>
      <td>$<%= @portfolio.principal %></td>
    </tr>
    <tr>
      <td>Cash</td>
      <td>$<%= @portfolio.cash %></td>
    </tr>
    <tr>
      <td>Value of holdings</td>
      <td>$<%= @portfolio.current_value_of_holdings %></td>
    </tr>
    <tr>
      <td>Total value of portfolio</td>
      <td>$<%= @portfolio.current_value %></td>
    </tr>
    <tr>
      <td>Profit/Loss</td>
      <td>$<%= @portfolio.profit_loss %></td>
    </tr>
    <tr>
      <td>Annualized return</td>
      <td><%= @portfolio.annualized_return %>%</td>
    </tr>
    <tr>
      <td>Total return</td>
      <td><%= @portfolio.total_return %>%</td>
    </tr>
    <tr>
      <td>Holdings</td>
      <td>
        <ul>
          <%= render(partial: 'holding', collection: @portfolio.holdings) || 'None' %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Companies represented</td>
      <td>
        <ul>
          <%= render(partial: 'company',
                     collection: @portfolio.companies_represented,
                     as: :company) ||
                  'None' %>
        </ul>
      </td>
    </tr>
  </table>
</p>
