<p>
  <strong>Purpose:</strong>
  <%= @portfolio.purpose %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @portfolio.creation_date %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @portfolio.principal %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @portfolio.cash %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to "#{@portfolio.owner.name}: #{@portfolio.owner_id}", @portfolio.owner %>
</p>

<p>
  <strong>Manager:</strong>
  <%= link_to "#{@portfolio.manager.name}: #{@portfolio.manager_id}", @portfolio.manager %>
</p>

<% unless @portfolio.holdings.empty? %>
  <p>
    <strong>Holdings:</strong>
    <ul>
      <% @portfolio.holdings.each do |holding| %>
        <li><%= link_to holding.id, holding %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
