<h1><%= @user.name %></h1>
<span class="pagenav">
  <%= link_to 'Edit', edit_user_path(@user) %>
</span>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.titleize %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= link_to @user.address.to_s, @user.address %>
</p>

<p>
  <strong>Owned Portfolios:</strong>
  <ul>
    <%= render(partial: 'portfolio', collection: @user.owned_portfolios, as: :portfolio) || 'None' %>
  </ul>
</p>

<% if @user.advisor? %>
  <p>
    <strong>Managed Portfolios:</strong>
    <ul>
      <%= render(partial: 'portfolio', collection: @user.managed_portfolios, as: :portfolio) || 'None' %>
    </ul>
  </p>
<% end %>

<p>
  <strong>Companies invested in:</strong>
  <% if @companies.nil? %>
    <%= link_to 'Show companies', params.merge(show: (Array.wrap(params[:show]) | ['companies'])) %>
  <% else %>
    <ul>
      <%= render(partial: 'company', collection: @companies) || 'None' %>
    </ul>
  <% end %>
</p>
<p>
  <strong>Total amount invested: </strong>
  <% if @total_principal.nil? %>
    <%= link_to 'Show', params.merge(show: (Array.wrap(params[:show]) | ['total-principal'])) %>
  <% else %>
    $<%= @total_principal %>
  <% end %>
</p>
