<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :portfolio_id %><br>
    <%= f.collection_select :portfolio_id, Portfolio.all.order(:id), :id, :id, required: true %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.collection_select :stock_id, Stock.all.order(:symbol), :id, :symbol_and_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :num_shares %><br>
    <%= f.number_field :num_shares, required: true %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.datetime_select :purchase_date, required: true %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, step: 0.01, required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
