<h1>Holding in <%= @holding.portfolio.to_s.titleize %></h1>
<span class="pagenav">
  <%= link_to 'Edit', edit_holding_path(@holding) %>
</span>


<p>
  <strong>Holding ID:</strong>
  <%= @holding.id %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= link_to @holding.portfolio.to_s, @holding.portfolio %>
</p>

<p>
  <strong>Company:</strong>
  <%= link_to @holding.stock.name_symbol, @holding.stock %>
</p>

<p>
  <strong>Num shares:</strong>
  <%= @holding.num_shares %>
</p>

<p>
  <strong>Purchase Date:</strong>
  <%= @holding.purchase_date %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @holding.price %>
</p>
